<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/BuildTest.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.gome.gomeEShop</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>SigningIdentity</key>
		<string>iPhone Developer: qu bo (7D746A58F2)</string>
		<key>Team</key>
		<string>KYACQ4K486</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2019-02-21T03:10:52Z</date>
	<key>Name</key>
	<string>BuildTest</string>
	<key>SchemeName</key>
	<string>BuildTest</string>
</dict>
</plist>
