<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.gome.gomeEShop</key>
		<string>Dev_GM_GomeEShop</string>
	</dict>
	<key>signingCertificate</key>
	<string>8A8D5FB828E0F14DB2BEC42EB7C5A6F44DF98D96</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>KYACQ4K486</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
